.update-slider {
	position: fixed;
	width: 100%;
	height: 70%;
	top: 0;
	overflow: hidden;
	background-color: #6b8d8b;
	color: #fff;
	border-radius: 0px 0px 9px 9px;
	transition: all 0.5s;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	z-index: 0;
}

.update-slider.update-close {
	transition: all 0.5s;
	height: 0;
}

#title-update-expense {
	text-align: center;
}

.update-slider select {
	color: #757575;
	text-align-last: center;
}

.update-slider h3 {
	color: #dfbf15;
}

.update-slider label {
	color: #dfbf15;
	font-size: 20px;
	font-weight: bold;
}

.update-item-form-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.update-item-form-control {
	width: 40%;
	height: 5vh;
	border-radius: 9px;
	border: none;
	margin-bottom: 3vh;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	font-size: 3vh;
	resize: none;
	outline: none;
	text-align: center;
}

.update-item-form-control:-webkit-autofill::first-line {
	font-size: 3vh;
}

#update-expense-button-form {
	margin-top: 2vh;
	border: none;
	padding: 1vh 20vh 1vh 20vh;
	border-radius: 8px;
	background-color: #dfbf15;
	color: white;
	font-size: 16px;
	font-family: inherit;
	font-weight: 500;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#update-expense-button-form:hover {
	cursor: pointer;
	animation: background-button-animation 0.5s forwards;
}

.update-slider #close-item {
	position: absolute;
	right: 0;
	margin: 0px 17vh 0px 0px;
}

@keyframes background-button-animation {
	from {
		background-color: #dfbf15;
		color: white;
	}
	to {
		background-color: #1c1c1c;
		color: #dfbf15;
	}
}

@media only screen and (max-width: 600px) and (max-height: 850px) {
	.update-slider h3 {
		font-size: 14px;
		font-weight: bold;
	}

	.update-item-form-control {
		width: 80%;
	}

	#update-expense-button-form {
		width: 80%;
		padding: 1vh 5vh 1vh 5vh;
		font-size: 16px;
		font-family: inherit;
		font-weight: 500;
	}
}
@media only screen and (min-height: 300px) and (max-height: 450px) {
	.update-slider {
		height: 80%;
	}
}

@media only screen and (min-height: 300px) and (max-height: 400px) {
	.update-slider {
		height: 90%;
	}
}

@media only screen and (min-device-width: 300px) and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
	.update-slider {
		height: 85%;
	}
}
