.product-container {
	display: flex;
	width: 75%;
	margin: 0px auto;
	height: 8%;
	background-color: #efece5;
	max-height: 65px;
	border-radius: 9px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
		0 16px 16px rgba(0, 0, 0, 0.12);
	animation-duration: 0.7s;
	animation-name: slide-in;
}

@keyframes slide-in {
	from {
		transform: translateX(150%);
	}

	to {
		transform: translateX(0%);
	}
}

.product-item {
	height: 100%;
	padding: 0px 10px 0px 10px;
}

.svg-cross:hover path {
	transition: all 0.5s;
	stroke: #dfbf15;
}

#product-price {
	width: 15%;
	border-radius: 9px 0px 0px 9px;
}

#product-price p {
	white-space: nowrap;
	font-weight: 500;
	font-size: 1.3em;
}

#product-price,
#product-gear-icon {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #6b8d8b;
}

#product-cross-icon {
	display: flex;
	align-items: center;
	background-color: #c23434;
	border-radius: 0px 9px 9px 0px;
}

#product-name {
	display: flex;
	align-items: center;
	font-weight: 500;
	margin-right: auto;
	font-size: 3.3vh;
}

#svg-gear-product {
	transform: scale(0.7);
}

#svg-gear-product path {
	fill: #efece5;
}

#svg-gear-product:hover path {
	transition: all 0.5s;
	fill: #dfbf15;
}

@media only screen and (max-width: 400px) {
	.product-container {
		min-height: 4vh;
		height: 6vh;
	}

	#product-name {
		font-size: 11px;
	}

	#product-gear-icon {
		width: 10%;
		height: 100%;
	}
	#product-cross-icon {
		width: 7%;
		height: 100%;
	}

	#product-price p {
		float: left;
		width: 100%;
		font-size: 12px;
		font-weight: normal;
	}

	#product-price {
		text-align: right;
		margin: 0;
		width: 20%;
		min-width: 25%;
	}

	#svg-gear-product {
		transform: scale(0.6);
	}
}

@media only screen and (max-width: 600px) and (max-height: 850px) {
	.product-container {
		max-height: 6vh;
		height: 9vh;
	}

	#product-name {
		font-size: 16px;
		font-weight: 500;
	}

	#product-gear-icon {
		width: 10%;
		height: 100%;
	}
	#product-cross-icon {
		width: 7%;
		height: 100%;
	}

	#product-price p {
		float: left;
		width: 100%;
		font-size: 18px;
		font-weight: normal;
	}

	#product-price {
		text-align: right;
		margin: 0;
		width: 20%;
		min-width: 25%;
	}

	#svg-gear-product {
		transform: scale(0.6);
	}
}

@media only screen and (max-width: 1100px) {
	.product-container {
		width: 95%;
		min-height: 40px;
	}
	#product-price {
		width: 25%;
	}
	#product-name {
		font-weight: 500;
	}
}

@media only screen and (max-width: 1900px) {
	#product-price {
		width: 27%;
	}
}
