.sidebar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 6vw;
	min-width: 4rem;
	max-width: 5rem;
	background-color: #6b8d8b;
	padding-top: 170px;
	height: auto;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
		0 16px 16px rgba(0, 0, 0, 0.12);
	transition: all 0.5s;
	z-index: 1;
}

#logo {
	color: #dfbf15;
	transform: rotate(-90deg);
	font-weight: bold;
	font-size: 6vh;
	margin: 0;
}

#svg-gear-permissions {
	position: absolute;
	bottom: 0;
	padding-bottom: 20px;
}

.svg-gear:hover path {
	fill: #dfbf15;
}

svg {
	cursor: pointer;
}
