.sidebar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 6vw;
	min-width: 4rem;
	max-width: 5rem;
	background-color: #6b8d8b;
	padding-top: 170px;
	height: auto;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
		0 16px 16px rgba(0, 0, 0, 0.12);

	z-index: 1;
	transition: all 0.5s;
	cursor: pointer;
	animation-duration: 0.7s;
	animation-name: fade-in;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#logo {
	color: #dfbf15;
	transform: rotate(-90deg);
	font-weight: bold;
	font-size: 6vh;
	margin: 0;
}

.sidebar-container:hover #logo {
	transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
	color: #4d4d4d;
}
.sidebar-container:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#svg-gear-permissions {
	position: absolute;
	bottom: 0;
	padding-bottom: 20px;
}

.svg-gear:hover path {
	fill: #dfbf15;
}

svg {
	cursor: pointer;
}
